* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

html,
body {
  height: 100%;
  color: #7286f6;
}
.wrapper {
}

.page {
}

.parallax_montaine {
}

.montaine1 {
}

.montaine2 {
}

.montaine3 {
}

.content {
}

.content_body {
}

.content_header {
}

.content_article {
}
