@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --btn-clr: #2f0000;
  --accent-clr: #07e8ff;
  --brd-sz: 3px;

  --neon-clr: #1bffff;
  --dark-clr: #333;
}

@media screen and (max-width: 500px) {
  :root {
    --neon-clr: #009245;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  :root {
    --neon-clr: #ed1e79;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  :root {
    --neon-clr: #989898;
  }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
  :root {
    --neon-clr: #45f705;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  :root {
    --neon-clr: #05e7f7;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  :root {
    --neon-clr: #0521f7;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  :root {
    --neon-clr: #a205f7;

  }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
  :root {
    --neon-clr: #f305f7;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  :root {
    --neon-clr: #f7052d;
  }
}

@media screen and (min-width: 1301px) {
  :root {
    --neon-clr: #ef930a;
  }
}

body {
  font-size: 16px;
  background-color: #62a8c7;
}

.container {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.title {
  /* color: #798a9b; */
  color: #62a8c7;
  margin: 25px auto;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow:
    1px 1px 5px #333,
    2px 2px 7px #444,
    3px 3px 9px #555,
    4px 4px 12px #666,
    5px 5px 15px #777;
}

a {
  text-decoration: none;
}

section {
  border-bottom: 2px dotted #798a9b;
  padding: 5rem 0;
  display: flex;
  place-items: center;
  flex-direction: column;
}

section:last-child {
  margin-bottom: 8rem;
}

.linkToLesson {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-top: 3rem;
}

.yt {
  color: red
}

/* ######################################## */
/* Круговой график с таймером на CSS и HTML */
/* ######################################## */

.timerWrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.timerWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #326b8a;
  z-index: 3;
  animation: timerMaskLeft 10s steps(1, end) forwards;
}

.timerWrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #bdf806;
  z-index: 3;
  animation: timerMaskRight 10s steps(1, end) forwards;
}

.timerLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #326b8a;
  animation: timerLineAnim 10s linear forwards;
  z-index: 2;
}

.timerLine::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #bdf806;
  border-right: 3px solid red;
}

.timerBody {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #62a8c7;
  text-align: center;
  overflow: hidden;
  z-index: 4;
}

.timerCounter {
  animation: counter 10s steps(9, end) forwards;
}

.timerCounter span {
  color: #326b8a;
  font-size: 3rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes counter {
  0% {}

  100% {
    transform: translateY(-900px);
  }
}

@keyframes timerLineAnim {
  0% {}

  100% {
    transform: rotate(360deg);
  }
}

@keyframes timerMaskLeft {
  0% {
    visibility: visible;
  }

  50%,
  100% {
    visibility: hidden;
  }
}

@keyframes timerMaskRight {
  0% {
    visibility: hidden;
  }

  50%,
  100% {
    visibility: visible;
  }
}

/* ######################################### */
/* Animated Navigation Menu Bar Hover Effect */
/* ######################################### */

.navMenuBar {
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: center;
  width: 600px;
  height: 60px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
}

.navMenuBar label {
  width: 100%;
  height: 100%;
  color: #8e44ad;
  line-height: 60px;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
}

.navMenuBar label:hover {
  background-color: rgba(142, 68, 173, .3);
}

.navMenuBar i {
  margin-right: 4px;
}

.slider {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #8e44ad;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#home:checked~nav .slider {
  left: 0%;
}

#home:checked~nav label[for="home"],
#blog:checked~nav label[for="blog"],
#code:checked~nav label[for="code"],
#help:checked~nav label[for="help"],
#user:checked~nav label[for="user"] {
  color: white;
  transition: color 0.4s ease;
}

#blog:checked~nav .slider {
  left: 20%;
}

#code:checked~nav .slider {
  left: 40%;
}

#help:checked~nav .slider {
  left: 60%;
}

#user:checked~nav .slider {
  left: 80%;
}

.menuBar input {
  display: none;
}

/* ######################################### */
/* ###  Оригинальный Hover-эффект кнопки  ## */
/* ######################################### */

.btnHoverSec {
  background: linear-gradient(45deg, #3c0453, var(--btn-clr));
}

.btnHoverSec button {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 12px #000;
  letter-spacing: 10px;
  font-size: 4rem;
  color: var(--accent-clr);
  padding: 1rem 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .8);
  position: relative;
  overflow: hidden;
}

.btnHoverSec button::before {
  content: "";
  position: absolute;
  top: var(--brd-sz);
  left: var(--brd-sz);
  bottom: var(--brd-sz);
  width: 50%;
  background-color: rgba(255, 255, 255, .05);
}

.btnHoverSec .linkToLesson a {
  color: var(--accent-clr);
}

.btnHoverSec button>span {
  position: absolute;
}

.btnHoverSec button>span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: var(--brd-sz);
  background: linear-gradient(90deg, var(--btn-clr), var(--accent-clr), var(--btn-clr));
  animation: animTop 2s linear infinite paused;
}

.btnHoverSec button>span:nth-child(2) {
  top: 0;
  right: 0;
  width: var(--brd-sz);
  height: 100%;
  background: linear-gradient(0deg, var(--btn-clr), var(--accent-clr), var(--btn-clr));
  animation: animRight 2s linear infinite paused;
}

.btnHoverSec button>span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--brd-sz);
  background: linear-gradient(90deg, var(--btn-clr), var(--accent-clr), var(--btn-clr));
  animation: animTop 2s reverse linear infinite paused;
}

.btnHoverSec button>span:nth-child(4) {
  top: 0;
  left: 0;
  width: var(--brd-sz);
  height: 100%;
  background: linear-gradient(0deg, var(--btn-clr), var(--accent-clr), var(--btn-clr));
  animation: animRight 2s reverse linear infinite paused;
}

.btnHoverSec button:hover>span {
  animation-play-state: running;
}

@keyframes animTop {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes animRight {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

/* ######################################### */
/* ###      Кнопка с неоновым светом      ## */
/* ######################################### */

.neonBtnSec {
  background: linear-gradient(45deg, var(--dark-clr), #5a5454);
}

.neonBtnSec button {
  position: relative;
  font-family: 'Gochi Hand', cursive;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--neon-clr);
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  overflow: hidden;
  transition: .6s ease;
}

.neonBtnSec button:hover {
  color: var(--dark-clr);
  background-color: var(--neon-clr);
  transition-delay: .5s;
  box-shadow: 0 0 10px var(--neon-clr),
    0 0 40px var(--neon-clr),
    0 0 80px var(--neon-clr);
}

.neonBtnSec button:hover span:nth-child(1) {
  left: 100%
}

.neonBtnSec button:hover span:nth-child(2) {
  top: 100%
}

.neonBtnSec button:hover span:nth-child(3) {
  right: 100%
}

.neonBtnSec button:hover span:nth-child(4) {
  bottom: 100%
}

.neonBtnSec button>span {
  display: block;
  position: absolute;
  transition: .6s ease;
}

.neonBtnSec button>span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: var(--brd-sz);
  background: linear-gradient(90deg, transparent, var(--neon-clr));
  transition-delay: .25s;
}

.neonBtnSec button>span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: var(--brd-sz);
  background: linear-gradient(180deg, transparent, var(--neon-clr));
  transition-delay: .25s;
}

.neonBtnSec button>span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: var(--brd-sz);
  background: linear-gradient(-90deg, transparent, var(--neon-clr));
  transition-delay: .25s;
}

.neonBtnSec button>span:nth-child(4) {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: var(--brd-sz);
  background: linear-gradient(0deg, transparent, var(--neon-clr));
  transition-delay: .25s;
}

.neonBtnSec a {
  color: var(--neon-clr)
}

.neonBtnSec p {
  color: var(--neon-clr);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

/* ######################################### */
/* ###     Анимированное окно поиска      ## */
/* ######################################### */

.searchInputSec {
  background: linear-gradient(45deg, #00b7ff, #ffffc7);
}

.searchInputWrap {
  display: flex;
  background: linear-gradient(45deg, #333, #5a5454);
  box-sizing: initial;
  height: 3rem;
  border-radius: 3rem;
  padding: 5px;
}

.searchInputWrap:hover input {
  width: 250px;
  padding: 0px 10px;
}

.searchInputWrap:hover button {
  background-color: #e6e6e6;
}

.searchInputSec input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  width: 0;
  font-size: 1.1rem;
  color: white;
  transition: .4s;
}

.searchInputSec button {
  color: #00b7ff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .4s;
}