@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  font-size: 50px;
  --bgc-sec-1: #c0f2fb;
  --bgc-sec-2: #716e6e;
  --link-font: "Roboto", sans-serif;
  --link-color: deepskyblue;
}

.container {
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  background-color: #cdcdcd;
}

section {
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--bgc-sec-1);
  border-bottom: 3px dotted #de6203;
  padding: 25px;
}

section:last-child {
  margin-bottom: 150px;
}

section:nth-child(2) {
  background-color: var(--bgc-sec-2);
}

a {
  /* font-family: "Dancing Script", cursive; */
  font-family: var(--link-font);
  text-decoration: none;
  color: var(--link-color);
}

li {
  list-style: none;
}
a > span {
  color: red;
}

/* #################################### */

.title {
  font-size: 2rem;
  font-weight: 800;
  color: transparent;
  margin: 25px auto;
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDg5ODE4OWM3MjIzNzczMWVjYzMzZTdlMGJjMmJkYmJhODRiYjVlNiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/ITRemFlr5tS39AzQUL/giphy-downsized-large.gif);
  /* background-image: url(https://media.giphy.com/media/JoVV55m3KZHdxlpFZ6/giphy-downsized-large.gif); */
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
}

/* #################################### */

.txtAnimatedBg {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.txtAnimatedBg li {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 15px;
  cursor: pointer;
  -webkit-text-stroke-color: deepskyblue;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    135deg,
    deepskyblue 0%,
    deepskyblue 50%,
    transparent 50%
  );
  background-size: 0 100%;
  transition: background-size linear 0.3s;
}

.txtAnimatedBg li:hover {
  background-size: 210% 100%;
}

/* ########## Glitch text ########### */

.glitch {
  display: grid;
  place-items: center;
  padding: 25px;
  background-color: #2b2b2b;
}

.glitch h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 1rem;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms linear infinite;
  position: relative;
}
.glitch h2 span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch h2 span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.glitch h2 span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

/* ########## Wrap text around any shape ########### */

.wrapText {
}
.wrapText img {
  max-width: 300px;
  float: right;
  shape-outside: polygon(3px 187px, 267px 3px, 291px 226px, 2px 227px);
  /* shape-margin: 0.5rem; */
}
.wrapText p {
  text-align: left;
  padding-bottom: 10px;
}
.wrapText h2 {
  margin: 20px 0;
  font-size: 0.6rem;
}
.YTLink {
  display: block;
  margin-top: 25px;
}

/* ########## Animated Neon Text ########### */

.neonText {
  background-color: #000;
}

.neonWrapper {
  display: inline-flex;
  filter: brightness(200%);
  overflow: hidden;
}

.txt::before {
  content: "Neon Text";
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(3px);
}

.txt {
  color: white;
  background: #000;
  font-size: 120px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient {
  background: linear-gradient(
    118deg,
    rgba(34, 173, 195, 1) 2%,
    rgba(253, 187, 45, 1) 97%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.dodge {
  background: radial-gradient(circle, white, black 25%) center / 25% 25%;
  position: absolute;
  top: -100%;
  left: -100%;
  bottom: 0;
  right: 0;
  mix-blend-mode: color-dodge;
  animation: dodge-area 5s linear infinite;
}

@keyframes dodge-area {
  to {
    transform: translate(50%, 50%);
  }
}
