<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI components</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="./all.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="title">UI components</h1>
      </header>
      <!-- ######################################### -->
      <!-- Круговой график с таймером на CSS и HTML  -->
      <!-- ######################################### -->
      <section class="timerSec">
        <div class="timerWrap">
          <div class="timerLine"></div>
          <div class="timerBody">
            <div class="timerCounter">
              <span>1</span><span>2</span><span>3</span><span>4</span
              ><span>5</span><span>6</span><span>7</span><span>8</span
              ><span>9</span><span>10</span>
            </div>
          </div>
        </div>
        <div class="linkToLesson">
          <a href="https://www.youtube.com/watch?v=I8BTOxhqJ6c" target="_blank"
            ><span class="yt">YouTube</span> Круговой график с таймером на CSS и
            HTML</a
          >
        </div>
      </section>
      <!-- ########################################## -->
      <!-- Animated Navigation Menu Bar Hover Effect  -->
      <!-- ########################################## -->
      <section class="menuBar">
        <input type="radio" name="slider" id="home" checked />
        <input type="radio" name="slider" id="blog" />
        <input type="radio" name="slider" id="code" />
        <input type="radio" name="slider" id="help" />
        <input type="radio" name="slider" id="user" />
        <nav class="navMenuBar">
          <div class="slider"></div>
          <label for="home" class="home">
            <i class="fas fa-home"></i>
            Home
          </label>
          <label for="blog" class="blog">
            <i class="fas fa-blog"></i>
            Blog
          </label>
          <label for="code" class="code">
            <i class="fas fa-code"></i>
            Code
          </label>
          <label for="help" class="help">
            <i class="fas fa-envelope"></i>
            Help
          </label>
          <label for="user" class="user">
            <i class="fas fa-user"></i>
            About
          </label>
        </nav>

        <div class="linkToLesson">
          <a href="https://www.youtube.com/watch?v=ewsXz0Du9iA" target="_blank"
            ><span class="yt">YouTube</span> Animated Navigation Menu Bar Hover
            Effect</a
          >
        </div>
      </section>

      <!-- ########################################## -->
      <!-- ##   Оригинальный Hover-эффект кнопки   ## -->
      <!-- ########################################## -->

      <section class="btnHoverSec">
        <button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          point me
        </button>
        <div class="linkToLesson">
          <a href="https://www.youtube.com/watch?v=qYkqQCohfAc" target="_blank"
            ><span class="yt">YouTube</span> Оригинальный Hover-эффект кнопки</a
          >
        </div>
      </section>
    </div>
  </body>
</html>
