* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-size: 16px;
  background-color: #b2d2e6;
}

.container {
  max-width: 1280px;
  text-align: center;
  margin: auto;
}

.title {
  color: #62a8c7;
  margin: 25px auto;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow:
    1px 1px 5px #333,
    2px 2px 7px #444,
    3px 3px 9px #555,
    4px 4px 12px #666,
    5px 5px 15px #777;
}

a {
  text-decoration: none;
}

section {
  border-bottom: 2px dotted #798a9b;
  padding: 5rem 0;
  display: flex;
  place-items: center;
  flex-direction: column;
}

section:last-child {
  margin-bottom: 8rem;
}

.linkToLesson {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-top: 3rem;
}

.linkToLesson a {
  color: #b9b9b9;
  display: inline-block;
  margin-top: 10px;
}

.yt {
  color: red
}

/* ############################################## */
/* Realistic Reflection Effect with HTML/CSS Only */
/* ############################################## */

.reflectionSect {
  background-color: #ffffff;
}

.reflectionWrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  perspective: 500px;
  margin-bottom: 6rem;
}

.reflection {
  width: 500px;
  height: 333px;
  position: relative;

  box-shadow: 0 50px 70px rgba(0, 0, 0, 0.3),
    0 10px 10px rgba(0, 0, 0, 0.1)
}

.reflection:nth-child(odd) {
  background: url(../images/flowers-gb488a0869_640.jpg);
  background-size: cover;
  background-position: bottom;
  transform: rotateY(5deg);
}

.reflection:nth-child(even) {
  background: url(../images/model-gd6eb10c3d_640.jpg);
  background-size: cover;
  background-position: bottom;
  transform: rotateY(-5deg);

}

.reflection::after {
  content: "";
  background-image: inherit;
  background-size: cover;
  background-position: bottom;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -41%;
  left: 0;
  transform: scaleY(-1);
  opacity: 0.5;
}

.reflection::before {
  content: "";
  width: inherit;
  height: 42%;
  position: absolute;
  left: 0;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), white);
  z-index: 1;
}

/* ############################################## */
/*         3D Card Design with RGB Effect         */
/* ############################################## */

.card3dSect {
  width: 100%;
  height: 100vh;
  background: url("../images/background.jpg");
  overflow: hidden;
}

.card3dWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card3dSect .card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 260px 10px;
  grid-template-areas: "image" "text" "stats";
  color: white;
  border-radius: 18px;
  background: #1d1d1d;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: justify;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.card3dSect .rgb:hover::after {
  content: "";
  background: linear-gradient(45deg,
      #ff0000 0%,
      #ff8800 10%,
      #ffcc00 20%,
      #91ff00 30%,
      #00ff00 40%,
      #00fff7 50%,
      #00aaff 60%,
      #8c00ff 70%,
      #cc00ff 80%,
      #ff0084 90%,
      #ff0000 100%) repeat 0 0 / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px);
  animation: rgb 3s linear infinite;
}

@keyframes rgb {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.card3dSect .card-image {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../images/img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card3dSect .card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(40px);
}

.card3dSect .card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card3dSect .card-text p {
  color: grey;
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 300;
}

.card3dSect .card-text h2 {
  margin-top: 1rem;
  font-size: 28px;
}

/* .card3dSect .card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card3dSect .card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card3dSect .card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card3dSect .card-stats .value {
  font-size: 22px;
  font-weight: 500;
}

.card3dSect .card-stats .value sup {
  font-size: 12px;
}

.card3dSect .card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
} */

.card3dSect .card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*card2*/
.card3dSect .card-image.card2 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../images/img2.jpg");
  background-size: cover;
}

.card3dSect .card-text.card2 .date {
  color: rgb(255, 77, 7);
}

/* .card3dSect .card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}

.card3dSect .card-stats.card2 {
  background: rgb(255, 77, 7);
} */

/*card3*/
.card3dSect .card-image.card3 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../images/img3.jpg");
  background-size: cover;
}

.card3dSect .card-text.card3 .date {
  color: rgb(0, 189, 63);
}

/* .card3dSect .card-stats.card3 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}

.card3dSect .card-stats.card3 {
  background: rgb(0, 189, 63);
} */