* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
.container {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}
a > span {
  color: red;
}

.title {
  font-family: sans-serif;
  font-size: 100px;
  font-weight: 800;
  color: transparent;
  margin: 25px auto;
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDg5ODE4OWM3MjIzNzczMWVjYzMzZTdlMGJjMmJkYmJhODRiYjVlNiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/ITRemFlr5tS39AzQUL/giphy-downsized-large.gif);
  /* background-image: url(https://media.giphy.com/media/JoVV55m3KZHdxlpFZ6/giphy-downsized-large.gif); */
  background-position: center;
  -webkit-background-clip: text;
}
