* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(163, 17, 17);
}

.perspectiveText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 58px;
  letter-spacing: -2px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 5vh 0 0 -10vw;
}

.perspectiveLine {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspectiveLine>p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.6s ease-in-out;
}

.perspectiveLine:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspectiveLine:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}

.perspectiveText:hover p {
  transform: translate(0, -50px);
}

.perspectiveLine:nth-child(1) {
  left: 29px;
}

.perspectiveLine:nth-child(2) {
  left: 58px;
}

.perspectiveLine:nth-child(3) {
  left: 87px;
}

.perspectiveLine:nth-child(4) {
  left: 116px;
}

.perspectiveLine:nth-child(5) {
  left: 145px;
}

.linkToLesson a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  color: rgba(255, 0, 0, .65);
}