* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
.container {
  margin: auto;
  max-width: 1280px;
  text-align: center;
}

.title {
  color: red;
  margin: 25px auto;
}
.lessonSrc {
  display: inline-block;
  margin-bottom: 25px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 150px 150px; */
  grid-template-areas:
    "header header header"
    "sidebar article navbar"
    "sidebar article navbar"
    "sidebar article navbar";
  gap: 15px 30px;
  /* border: 3px solid #ff11af; */
  min-height: 80vh;
}

.griditem {
  /* height: 100px; */
  /* width: 300px; */
  padding: 15px;
  border: solid 1px black;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.item1 {
  background-color: #2ff;
  grid-area: header;
  /* grid-column: 1/5;
  grid-row: 1/2; */
}
.item2 {
  background-color: #23f;
  grid-area: sidebar;
  /* grid-column: 1/2;
  grid-row: 2 / span 5; */
}
.item3 {
  background-color: #a33;
  grid-area: article;
  /* grid-column: 2/4;
  grid-row: 2/4; */
}
.item4 {
  background-color: #991;
  grid-area: navbar;
  /* grid-column: 4/5;
  grid-row: 2 / span 5; */
}
.item5 {
  background-color: #2a2;
}
.item6 {
  background-color: #f11;
}
.item7 {
  background-color: #c99;
}
.item8 {
  background-color: #555;
}
.item9 {
  background-color: #717;
  /* grid-column: 2 / span 2; */
}
.item10 {
  background-color: #9f9;
  /* grid-column: 1 / span 4; */
}

@media all and (max-width: 1204px) {
}
